<footer class="page-footer font-small bg-dark pt-0">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center ">
        <h4 class="text-white py-0">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="redes-sociais">
        <li>
            <a href="https://www.facebook.com/" target="_blank" class="icoFacebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
          </li>

          <li>
            <a href href="https://github.com/RiqueLimma" target="_blank" class="icoGit">
              <i class="fa fa-gitlab" aria-hidden="true"></i>
            </a>
            </li>

          <li>
            <a href="https://www.linkedin.com/in/luis-henrique-4ba20b1a9/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          </li>
        </ul>
    </div>
  </div>
</div>

<div class="fotter-copyright bg-dark text-center py-2">
  <span class="text-secondary"> &copy; 2021 Copyright: Direitos de Luis Henrique </span>
</div>
</footer>
