<div class="container-fluid">


  <div class="row d-flex align-items-center">

    <div class="fundo col-md-7"></div>





      <div class="col-md-5">

        <h1 class="text-center mb-3">Cadastro</h1>

        <div class="form-group">
          <label for="nome">Nome</label>
          <input class="form-control" type="text" name="usuario" id="usuario"
          placeholder="Seu nome" >
        </div>

        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input class="form-control" type="text" name="usuario" id="usuario"
          placeholder="Seu usuário" >
        </div>

        <div class="form-group">
          <label for="foto">Link da Foto</label>
          <input class="form-control" type="text" name="foto" id="foto"
          placeholder="Link da sua foto" >
        </div>

        <div class="form-group">
          <label for="senha"> Senha </label>
          <input class="form-control" type="password" name="senha" id="senha"
          placeholder="Sua senha" >
        </div>

        <div class="form-group">
          <label for="Confirmasenha">Confirma Senha </label>
          <input class="form-control" type="password" name="confirmasenha" id="confirmasenha"
          placeholder="Confirme sua senha" >
        </div>

        <div class="form-group">
          <label for="tipo">Tipo de Usuário </label>
         <select class="form-control" name="tipo" id="tipo">
           <option>Selecione um tipo de usuário</option>
           <option value="normal">Normal</option>
           <option value="adm">Administrador</option>
         </select>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger m-1" routerLink='/entrar'>Cancelar</button>
          <button type="submit" class="btn btn-success m-1">Confirma</button>

        </div>



      </div>
    </div>
